@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superior Shah Muqeem High School</h1>
    <p class="lead">Superior Shah Muqeem High School is the best school for your children. We are comitted to provide good education to masses with qualified team.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
         </div>
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        </div>
</div>