@model IEnumerable<SES_F1.Subject>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteSubject", new { subID=item.Id})
        </td>
    </tr>
}
    <tr>
        <td>
            <input id="subName" name="subName" type="text" />
        </td>
        <td><input type="button"  value="Add" id="AddSubject" name="AddSubject" /></td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $("#AddSubject").on('click', function () {
         
            var req = {
                "subName": $("#subName").val(),
                "classID": @ViewBag.Class
            };
            $.ajax({
                type: "POST",
                url: "/Admin/AddSubject",
                data: req,
                success: function (response) {
                    if (response == 'True') {
                        alert("Subject Added");
                        document.location.reload();
                    }
                    else {
                        alert("Error, Subject Not Added");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>