
@{
    ViewBag.Title = "Fees";
}

<h2>Fees</h2>

<div onclick="location.href='PrintFeeChallan/'" class="btn btn-primary">Print Fees Challan</div>
<br /><br />
<div class="btn btn-primary">Submit Fees</div>